{% extends 'base.html.twig' %}

{% block title %}New PaymentOptions{% endblock %}

{% block body %}
    <h1>Create new PaymentOptions</h1>

    {{ include('payment_options/_form.html.twig') }}

    <a href="{{ path('payment_options_index') }}">back to list</a>
{% endblock %}
